<!DOCTYPE html>

<html lang="pt-br" ng-app="championSelect">

  <head>
    <title>RealMastery Match</title>
    <meta charset="utf8">
    <link rel="stylesheet" href="assets/css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,700" rel="stylesheet" type="text/css">
  </head>

  <body>
    <nav class="box fade-in one">
      <h3>RealMastery Match</h3>
      <p id="nav-p">by HKZ BrushyMan [BR] and HKZ soloT [BR]</p>
    </nav>
    <section class="box fade-in two">
      <div id="introduction">
        <h1>Welcome to RealMastery Match!</h1>
        <p>Fight against your friends and other players! With our algorithms, we can calculate how well summoners have played in the last 5 rankeds with a specific champion.</p>
        <button id="start">Start a match</button>
      </div>

      <div id="match-wrapper">
        <input type="text" placeholder="SKT T1 Faker" id="summoner-name" autofocus autocapitalize="off" autocomplete="off">
        <form>
          <select id="select-region">
            <option value="BR" autocomplete="off">BR</option>
            <option value="EUNE" autocomplete="off">EUNE</option>
            <option value="EUW" autocomplete="off">EUW</option>
            <option value="JP" autocomplete="off">JP</option>
            <option value="KR" autocomplete="off">KR</option>
            <option value="LAN" autocomplete="off">LAN</option>
            <option value="LAS" autocomplete="off">LAS</option>
            <option value="NA" autocomplete="off" selected>NA</option>
            <option value="OCE" autocomplete="off">OCE</option>
            <option value="PBE" autocomplete="off">PBE</option>
            <option value="RU" autocomplete="off">RU</option>
            <option value="TR" autocomplete="off">TR</option>
          </select>
        </form>
        <p id="match-header">Champion:</p>
        <div id="champions_slider" class="fade-in three" data-step="1" ng-controller="championSelectCtrl">
          <input type="search" alt="searchChampions" id="search-champion" autocapitalize="off" autocomplete="off" placeholder="Search for a champion" ng-model="search">
          <ul>
            <li>
              <div ng-repeat="champion in champions" class="champion_quicklist_icon inline">
                <div class="champion_select med_champion_sprite" id="{{champion.id}}" alt="{{champion.name}}" style="background: url('{{champion.image.sprite}}'); background-position: -{{champion.image.x}}px -{{champion.image.y}}px;"></div>
                <span>{{champion.name}}</span>
              </div>
              </li>
            </ul>
          </div>
          <p id="results"></p>
          <img src="assets/img/ajax-loader.gif" id="loading"><br>
          <div id="results-table">
            <table>
              <tr><td><p class="player-info p0"></p><h2 class="player-data-points p0"></h2></td><td></td><td><p class="player-info p1"></p><h2 class="player-data-points p1"></h2></td></tr>
              <tr><td class="player-data p0 kda" data-data="KDA"></td><td>KDA</td><td class="player-data p1 kda" data-data="KDA"></td></tr>
              <tr><td class="player-data p0 gold" data-data="Gold"></td><td>Gold</td><td class="player-data p1 gold" data-data="Gold"></td></tr>
              <tr><td class="player-data p0 wardsplaced" data-data="WardsPlaced"></td><td>Wards Placed</td><td class="player-data p1 wardsplaced" data-data="WardsPlaced"></td></tr>
              <tr><td class="player-data p0 killingspree" data-data="KillingSpree"></td><td>Killing Spree</td><td class="player-data p1 killingspree" data-data="KillingSpree"></td></tr>
              <tr><td class="player-data p0 doublekill" data-data="DoubleKill"></td><td>Double Kills</td><td class="player-data p1 doublekill" data-data="DoubleKill"></td></tr>
              <tr><td class="player-data p0 triplekill" data-data="TripleKill"></td><td>Triple Kills</td><td class="player-data p1 triplekill" data-data="TripleKill"></td></tr>
              <tr><td class="player-data p0 quadrakill" data-data="QuadraKill"></td><td>Quadra Kills</td><td class="player-data p1 quadrakill" data-data="QuadraKill"></td></tr>
              <tr><td class="player-data p0 pentakill" data-data="PentaKill"></td><td>Penta Kills</td><td class="player-data p1 pentakill" data-data="PentaKill"></td></tr>
              <tr><td class="player-data p0 creepearly" data-data="CreepEarly"></td><td>CS per minute: First 10 minutes</td><td class="player-data p1 creepearly" data-data="CreepEarly"></td></tr>
              <tr><td class="player-data p0 creepmid" data-data="CreepMid"></td><td>CS per minute: 10 to 20 minutes</td><td class="player-data p1 creepmid" data-data="CreepMid"></td></tr>
              <tr><td class="player-data p0 creeplate" data-data="CreepLate"></td><td>CS per minute: 20 until end</td><td class="player-data p1 creeplate" data-data="CreepLate"></td></tr>
              <tr><td class="player-data p0 neutralcreeps" data-data="NeutralCreeps"></td><td>Neutral Creeps</td><td class="player-data p1 neutralcreeps" data-data="NeutralCreeps"></td></tr>
              <tr><td class="player-data p0 totaldamagedealt" data-data="TotalDamageDealt"></td><td>Total Damage Dealt</td><td class="player-data p1 totaldamagedealt" data-data="TotalDamageDealt"></td></tr>
              <tr><td class="player-data p0 totaldamagetaken" data-data="TotalDamageTaken"></td><td>Total Damage Taken</td><td class="player-data p1 totaldamagetaken" data-data="TotalDamageTaken"></td></tr>
              <tr><td class="player-data p0 nmatcheswon" data-data="nMatchesWon"></td><td>Win Rate</td><td class="player-data p1 nmatcheswon" data-data="nMatchesWon"></td></tr>
              <tr><td class="player-data p0 masterylevel" data-data="MasteryLevel"></td><td>Champion Mastery</td><td class="player-data p1 masterylevel" data-data="MasteryLevel"></td></tr>
              <tr><td class="player-data p0 league" data-data="league"></td><td>League</td><td class="player-data p1 league" data-data="league"></td></tr>
            </table>
        </div>
        <button id="next">Next</button>
      </div>
    </section>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="assets/js/champions.js"></script>
    <script src="assets/js/index.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="assets/js/angular/app.module.js"></script>
    <script src="assets/js/angular/components/championSelect.js"></script>
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.6&appId=1022667571147090";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  </body>

</html>
