* {
	outline: 0;
}

body {
  background: #a062ba;
  color: #a062ba;
  font-family: 'Titillium Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0 auto;
  max-width: 50%;
  background: url('http://na.leagueoflegends.com/sites/default/files/upload/environmentart-sru-04_1920.jpg') no-repeat center center fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

.box {
  background: #fff;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  width: 50%;
  -webkit-box-shadow: 3px 3px 50px 4px rgba(0,0,0,0.6);
  box-shadow: 3px 3px 50px 4px rgba(0,0,0,0.6);
}

section.box {
  margin-top: 23%;
  width: 100%;
  margin-bottom: 10%;
}

nav {
  position: absolute;
  top: -10px;
}

form {
  display: inline-block;
}

p {
  margin: 1em auto 1em auto;
  width: 80%;
}

input[type="text"], input[type="search"] {
  border-radius: 50px;
  border: 2px solid #8633cc;
  color: #a062ba;
  font-size: 15px;
  margin-top: 5px;
  padding: 8px;
  font-family: 'Titillium Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 7px;
  width: 170px;
}

input[type="search"] {
  border-radius: 0 0 10px 10px;
  border: 2px solid #ccc;
  color: #484848;
  font-size: 13px;
  text-align: center;
}


button {
  background: #8e44ad;
  border-radius: 4px;
  border: 0;
  color: #fff;
  font-size: 15px;
  margin-bottom: 15px;
  margin-top: 10px;
  padding: 7px 12px 7px 12px;
}

@keyframes fadeAndScale {
    from {
        opacity: 0;
        transform: scale(1.1, 1.1);
    }
    to {
        opacity: 1;
        transform: scale(1, 1);
    }
}

.fade-in {
  opacity: 0;
  -webkit-animation: fadeAndScale ease-in 1;
  -moz-animation: fadeAndScale ease-in 1;
  animation: fadeAndScale ease-in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: .3s;
  -moz-animation-duration: .3s;
  animation-duration: .3s;
}

.fade-in.one {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.fade-in.two {
  -webkit-animation-delay: .3s;
  -moz-animation-delay:.3s;
  animation-delay: .3s;
}

.fade-in.three {
  -webkit-animation-delay: .5s;
  -moz-animation-delay: .5s;
  animation-delay: .5s;
}


@media screen and (max-width: 560px) {
	body {
		max-width: 100%;
	}

	.box, section.box {
    border-radius: 0;
    width: calc(100% - 20px);
    -webkit-box-shadow: none;
    box-shadow: none;
	}

	section.box {
		margin-top: 115px;
	}

  #champions_slider {
    width: 100% !important;
  }
}

@media screen and (min-width: 561px) and (max-width: 900px) {
	body {
		max-width: 80%;
	}

	nav.box {
		width: calc(80% - 20px);
	}

	section.box {
    margin-top: 25%;
    width: calc(100% - 20px);
	}
}

.champion_quicklist_icon {
  cursor: pointer;
  display: inline-block;
  font-size: 7pt;
  height: 65px;
  padding-top: 5px;
  padding: 2px;
  text-align: center;
  width: 60px;
}

#content .left_side .content li {
  font-size: 14px;
  line-height: 20pt;
  margin: 10px 0;
}

#champions_slider {
  width: 80%;
  margin-top: -10px;
  margin: 0 auto;
  text-align: center;
}

#champions_slider li {
  height: 180px;
  overflow: auto;
}

#champions_slider ul, #champions_slider li {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.med_champion_sprite {
  filter: brightness(.8);
  -webkit-filter: brightness(.8);
  background-repeat: no-repeat;
  border-radius: 50px;
  height: 48px;
  margin: auto;
  width: 48px;
}

.black-and-white {
  -webkit-filter: saturate(0);
  filter: saturate(0);
}

.active {
  -webkit-filter: saturate(1);
  border: 5px solid #a062ba;
  filter: saturate(1);
}

.med_champion_sprite:hover {
  -webkit-filter: brightness(2) !important;
  -webkit-filter: saturate(1);
  filter: brightness(2) !important;
  filter: saturate(1);
}

#results-table {
  margin-top: -90px;
}

table { 
  box-sizing: border-box;
  margin: 1em auto;
  padding: 1em;
  width: 100%;
}

th { 
  font-size: 1.2em;
  font-weight: initial;
}

td {
  -moz-transition: all .75s ease-out;
  -webkit-transition: all .75s ease-out;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  border-bottom: 1px solid #fbfbfb;
  color: rgba(0,0,0,0.8);
  font-size: 14px;
  padding: .3em .5em;
  transition: all .75s ease-out;
  width: 20%;
}

td:nth-child(2) {
  color: #000;
  font-size: 16px;
  text-align: right;
  width: 40%;
}

td:nth-child(3) { 
  color: #000;
  font-size: 16px;
  text-align: left;
  width: 40%;
}

.player-data-points {
  display: inline-block;
  width: 49%;
}

.won {
	background: #dff0d8;
}

.lose {
	background: #f2dede;
}

.tie {
	background: #fcf8e3;
}

.player-data-points {
  background: none;
}

.player-data-points.won {
	color: green;
}

.player-data-points.lose {
	color: red;
}

.player-data-points.tie {
	color: #ABA605;
}
